#contact-page {
  display: flex;
  flex-direction: column;
  flex-grow: initial;
}
.heading-text {
  font-size: clamp(2rem, 0.91rem + 5.4vw, 5rem);
  margin-top: auto;
}

.contact-top {
  display: flex;
  flex-direction: column;

  /* border: 2px solid black; */
  flex-basis: 50%;
}
.email-title {
  margin-top: auto;
}
.mail-id {
  margin-bottom: auto;
  font-size: clamp(0.8rem, 0.51rem + 1.4vw, 1.6rem);
  cursor: pointer;
  /* font-size: 1.6rem; */
}
.copy {
  margin-left: 0.5rem;
  cursor: pointer;
}
.contact-bottom {
  text-indent: 2rem;
  letter-spacing: 1px;
  max-width: 600px;
}
