@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --background-primary-color: #97d2fb;
  --primary-font-color: #011638;
  --secondary-font-color: #fff;
  --main-borderradius: 2rem;
  --main-font-family: "Roboto", sans-serif;
  --section-padding: 2rem 1.5rem;
  --section-margin: 0.3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
}
body {
  background-color: rgb(0, 0, 0, 0.2);
}

/* ------------------------------------------------------------- */
/* ----------------------------Hero Page------------------------- */
/* ------------------------------------------------------------- */

.section {
  height: calc(100vh - 0.6rem);
  width: calc(100% - 1rem);
  /* box-shadow: 0px 5px rgb(0, 0, 0, 0.2), 0px -5px rgb(0, 0, 0, 0.2),
    -5px 0px rgb(0, 0, 0, 0.2), 5px 0px rgb(0, 0, 0, 0.2); */

  background-color: var(--background-primary-color);
  padding: var(--section-padding);
  border-radius: var(--main-borderradius);
  margin: 0.3rem auto;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 2px solid black; */
}
/* #main-section {
  text-align: left;
} */
/* min- 20rem, max- 75rem 0.05454 ,  y intersection: 4.9092 , 3.546*/
/* font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem); */
.header-text {
  font-size: clamp(5rem, 3.54rem + 7.27vw, 9rem);
  margin-top: 5rem;
  /* letter-spacing: 5px; */
  display: flex;
  height: 100%;
  font-weight: 400;
  /* border: 2px solid black; */
}

.header-text p {
  /* border: 2px solid black; */
  align-self: flex-end;
}

.second-text {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 3rem;
  /* border: 2px solid black; */
}
.name-text {
  font-size: 1.6rem;
}
.name {
  font-size: 2rem;
}
.work-name {
  font-size: 1.2rem;
}
.other-sections {
  display: flex;
  justify-content: space-between;

  /* align-self: center; */
}

.link-btn {
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
  padding: 0.5rem 0.2rem;
  border-radius: var(--main-borderradius);
  cursor: pointer;
  min-width: 5rem;
  max-width: 7rem;
  font-size: 0.8rem;
  text-align: center;
}
/* .middle {
  padding: 0.5rem 2rem;
} */

@media screen and (min-width: 760px) {
  .other-sections {
    align-self: center;
  }
  .link-btn {
    padding: 0.5rem 1rem;
  }
  .section {
    padding: 2rem 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .section {
    padding: 2rem 5rem;
  }
  .other-sections {
    gap: 5rem;
  }
}

.arrow {
  text-align: center;
  color: var(--secondary-font-color);

  /* cursor: pointer; */
}
.arrow i {
  background-color: var(--primary-font-color);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding-top: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/* ------------------------------------------------------------- */
/* ----------------------------Contact Page------------------------- */
/* ------------------------------------------------------------- */

#contact-page {
  display: flex;
  flex-direction: column;
}
.heading-text {
  font-size: clamp(2rem, 0.91rem + 5.4vw, 5rem);
  margin-top: auto;
}

.contact-top {
  display: flex;
  flex-direction: column;

  /* border: 2px solid black; */
  flex-basis: 50%;
}
.email-title {
  margin-top: auto;
}
.mail-id {
  margin-bottom: auto;
  font-size: clamp(0.8rem, 0.51rem + 1.4vw, 1.6rem);
  cursor: pointer;
  /* font-size: 1.6rem; */
}
.copy {
  margin-left: 0.5rem;
  cursor: pointer;
}
.contact-bottom {
  text-indent: 2rem;
  letter-spacing: 1px;
  max-width: 800px;
}

/* ------------------------------------------------------------- */
/* ----------------------------BIO PAGE------------------------- */
/* ------------------------------------------------------------- */

#bio-page {
  display: flex;
  flex-direction: column;
}

.heading-cont {
  margin-top: 4rem;
}

.bio-container {
  margin-top: 5rem;
}

/* ------------------------------------------------------------- */
/* ----------------------------Projects Page------------------------- */
/* ------------------------------------------------------------- */

#projects-page {
  /* height:  */
}
.projects-list {
  margin-top: 3rem;
  width: 100%;
}
.project {
  color: var(--secondary-font-color);
  margin: 0.5rem 0rem;
  overflow: hidden;
}
@media screen and (min-width: 1120px) {
  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

/* @keyframes projectdrop {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(10rem);
  }
} */
/* @keyframes projectup {
  0% {
    transform: translateY(-14rem);
  }
  100% {
    transform: translateY(0rem);
  }
} */
.project-name {
  background-color: var(--primary-font-color);
  padding: 0.5rem 1rem;
  overflow: hidden;

  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.details-arrow {
  cursor: pointer;
}
/* ----------------------------Projects Page------------------------- */
/* .hidden {
  display: none;
} */

.project-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  height: 14rem;
  border: 3px solid var(--primary-font-color);
  border-radius: 10px;

  /* animation: dropdown 500ms 1; */
}

@media screen and (min-width: 860px) {
  .project-details {
    height: 18rem;
  }
}

@keyframes dropup {
  0% {
    transform: translateY(0rem);
    opacity: 1;
    border: 3px solid var(--primary-font-color);
  }
  100% {
    transform: translateY(-14rem);
    opacity: 0;
    border: none;
  }
}

@keyframes dropdown {
  0% {
    transform: translateY(-14rem);
    opacity: 0;
    border: none;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
    border: 3px solid var(--primary-font-color);
  }
}
.project-images {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel-track-container {
  height: 12rem;
  width: 6rem;
  position: relative;
  background-color: white;
  overflow: hidden;
}
@media screen and (min-width: 860px) {
  .carousel-track-container {
    height: 16rem;
    width: 8rem;
  }
  .project-description {
    font-size: 2rem;
  }
}
.cau-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.carousel-track {
  list-style: none;
  height: 100%;
}

.carousel-slides {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 300ms 1;
}
.carousel-btn {
  border: none;
  padding: 0.3rem;
  color: var(--secondary-font-color);
  background-color: var(--primary-font-color);
  border-radius: 5px;
  cursor: pointer;
}

.project-description {
  display: flex;
  flex-direction: column;
  color: var(--primary-font-color);
  justify-content: space-around;
  font-size: 0.8rem;
}
@media screen and (min-width: 860px) {
  .project-description {
    font-size: 1.2rem;
  }
}
/* .description {
  margin-top: 1rem;
} */
.gn-links {
  display: flex;
  justify-content: space-around;
}
.gn-links a {
  text-decoration: none;
  color: var(--secondary-font-color);
}
.gn-links p {
  background-color: var(--primary-font-color);
  padding: 0.3rem 0.5rem;
  color: white;
  border-radius: 6px;
  font-size: 0.8rem;
  cursor: pointer;
}
