@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --background-primary-color: #97d2fb;
  --primary-font-color: #011638;
  --secondary-font-color: #fff;
  --main-borderradius: 2rem;
  --main-font-family: "Roboto", sans-serif;
  --section-padding: 2rem 1.5rem;
  --section-margin: 0.3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
}
body {
  background-color: rgb(0, 0, 0, 0.2);
}

.section {
  height: calc(100vh - 0.6rem);
  width: calc(100% - 1rem);
  /* box-shadow: 0px 5px rgb(0, 0, 0, 0.2), 0px -5px rgb(0, 0, 0, 0.2),
    -5px 0px rgb(0, 0, 0, 0.2), 5px 0px rgb(0, 0, 0, 0.2); */

  background-color: var(--background-primary-color);
  padding: var(--section-padding);
  border-radius: var(--main-borderradius);
  margin: 0.3rem auto;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 2px solid black; */
}
/* #main-section {
  text-align: left;
} */
/* min- 20rem, max- 75rem 0.05454 ,  y intersection: 4.9092 , 3.546*/
/* font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem); */
.header-text {
  font-size: clamp(5rem, 3.54rem + 7.27vw, 9rem);
  margin-top: 4rem;
  /* letter-spacing: 5px; */
  display: flex;
  height: 100%;
  font-weight: 400;
  /* border: 2px solid black; */
}

.header-text p {
  /* border: 2px solid black; */
  align-self: flex-end;
}

.second-text {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 3rem;
  /* border: 2px solid black; */
}
.name-text {
  font-size: 1.6rem;
}
.name {
  font-size: 2rem;
}
.work-name {
  font-size: 1.2rem;
}
.other-sections {
  display: flex;
  justify-content: space-between;

  /* align-self: center; */
}

.link-btn {
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
  padding: 0.5rem 0.2rem;
  border-radius: var(--main-borderradius);
  cursor: pointer;
  min-width: 5rem;
  max-width: 7rem;
  font-size: 0.8rem;
  text-align: center;
}
/* .middle {
  padding: 0.5rem 2rem;
} */

@media screen and (min-width: 760px) {
  .other-sections {
    align-self: center;
  }
  .link-btn {
    padding: 0.5rem 1rem;
  }
  .section {
    padding: 2rem 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .section {
    padding: 2rem 5rem;
  }
  .other-sections {
    gap: 5rem;
  }
}

.arrow {
  text-align: center;
  color: var(--secondary-font-color);

  /* cursor: pointer; */
}
.arrow i {
  background-color: var(--primary-font-color);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding-top: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
